html *
{
   font-size: 1em !important;
   color: #000 !important;
   font-family: Arial !important;
}
body 
{
    text-align: center;
    background-color: lightblue;
    background-size: 400% 400%;
    height: 100vh;
}

input[type=button], input[type=submit], input[type=reset]
{
    background-color: white; 
  border: 2px solid #e7e7e7;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

input[type=text]:focus 
{
    border: 3px solid #555;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
 
    50% {
        background-position: 100% 50%;
    }
 
    100% {
        background-position: 0% 50%;
    }
}
