html *
{
   font-size: 1em !important;
   color: #000 !important;
   font-family: Arial !important;
}
body 
{
    text-align: center;
    background-color: lightblue;
    background-size: 400% 400%;
    height: 100vh;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
 
    50% {
        background-position: 100% 50%;
    }
 
    100% {
        background-position: 0% 50%;
    }
}